@tailwind base;
@tailwind components;
@tailwind utilities;

/* base styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #000;
    color: #fff;
    -webkit-font-smoothing: antialiased;
}

/* custom scrollbar for webkit browsers */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #111;
}

::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #444;
}

/*  */
.line-clamp-2 {
    display: -webkit-box;

    overflow: hidden;
}

/* smooth image */
img {
    transition: opacity 0.9s ease;
}